altgraph==0.17.3
bottle==0.13.dev0
bottle-websocket==0.2.9
cffi==1.15.1
Eel==0.16.0
gevent==22.10.2
gevent-websocket==0.10.1
greenlet==2.0.2
pefile==2023.2.7
Pillow==10.0.0
pycparser==2.21
pyinstaller==5.13.0
pyinstaller-hooks-contrib==2023.5
pyparsing==3.1.0
pywin32-ctypes==0.2.2
six==1.16.0
websockets==11.0.3
whichcraft==0.6.1
zope.event==5.0
zope.interface==6.0
