table,
tr,
th,
td {
  border-collapse: collapse;
  border: 1px solid #cccccc;
  padding: 2px 0 2px 2px;
  margin: 2px 0 2px 2px;
  vertical-align: top;
  word-wrap: break-word;
}

td {
  text-align: center;
  padding: 0px;
  background-color: #ffffff;
}

th {
  background-color: #eeeeee;
  padding: 7px 10px;
  word-break: break-all;
  white-space: pre-wrap;
  max-width: 280px;
  min-width: 100px;
}

tr.total td {
  color: black;
  font-weight: bold;
  border-right: none;
}

tr.total th {
  background-color: #e0e0e0;
  color: black;
  border-right: none;
}

td.total {
  background-color: #e0e0e0;
  border-left: none;
}

th.category_total {
  min-width: 300px;
  max-width: 300px;
  border-right: none;
}

th.file_total,
th.monthly_total,
th.day_total {
  min-width: 150px;
  max-width: 150px;
  border-right: none;
}

table.plandone {
  min-width: 120px;
  max-width: 120px;
  margin-left: auto;
}

th.plandone {
  min-width: 60px;
  max-width: 60px;
  padding: 0px 10px;
  border-right: none;
}
